body {
    margin: 0px;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif; */

main.page {
    width: 100%;
    font-family: 'Merriweather', serif;
    color: white;
}
span.bold {
    font-weight: bold;
}
section.top {
    height: 50%;
    min-height: 280px;
    max-height: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
section.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1 {
    font-size: 3em;
}
h2 {
    margin-top: 8px;
    margin-bottom: 13px;
    font-size: 2em;
}
p {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    font-size: .9em;
}
div.title {
    width: 160px;
    text-align: center;
    margin: 0px 30px 30px;
    padding-top: 50px;
}
div#blue {
    background-color: #34A8DD;
}
div#orange {
    background-color: #F56731;
}
div#teal {
    background-color: #2BCEC0;
}
div.topbar {
    height: 27px;
    width: 100%;
}

/* phone */
@media (max-width: 576px) {
    section.top {
        background-color: #34A8DD;
    }
    section.bottom {
        background-color: #F8F5F7;
        display: block;
        margin: 0px;
        padding-bottom: 30px;
    }
    h1 {
        margin: 0px 120px;
    }
    h2 {
        color: black;
    }
    p {
        color: black;
    }
    div.title {
        margin: 0px auto;
    }
}
/* desktop */
@media (min-width: 576px) {
    section.top {
        background-color: #2BCEC0;
    }
    section.bottom {
        background-color: black;
    }
}